<header class="app-header">
  <div class="header-left">
    <div class="header-icon">&#9632;</div>
    <div>
      <h1 class="header-title">Picklist Verifier</h1>
      <p class="header-sub">Truck Loading Scanner System</p>
    </div>
  </div>
</header>